.postContainer
    padding: 50px

    h2 
        font-weight: normal
        color: grey

    .description, .dateAndAuthor
        color: grey


.articleType
    padding: 10px
    background-color: yellow
    margin: 20px

.shareButtons
    display: flex
    color: white

    .shareFacebook
        background-color: blue
    
    .shareTwitter
        background-color: red
    
    .track
        background-color: #259998